<div class="content">
  <div class="App"><h1>Admin panel : Upcoming Interviews</h1><br><a href="#/create">
      <button class="btn btn-primary right expandFULL100">Schedule new interview</button>
  </a><br><table><thead><tr><th>InterviewId</th><th>Start Time</th><th>End Time</th>
      <th>Participants</th><th>Want to edit?</th></tr></thead>
      <tbody><tr class="mainbody "><td>133</td><td>2021-11-02T21:35:00Z</td>
          <td>2021-11-28T05:36:00Z</td><td><div class="form-group">
              <select class="form-control marginonTop" id="selectiongroup1133">
                  <option>4 participants</option><option value="rokovi3775">rokovi3775</option>
                  <option value="rigden.jazier">rigden.jazier</option>
                  <option value="kesean">kesean</option>
                  <option value="Shivang">Shivang</option>
              </select>
            </div></td><td>
              <a href="#/edit/133">Edit schedule</a>
            </td><td>
              <div class="clickable">Send notifications</div>
            </td></tr><tr class="mainbody "><td>135</td>
              <td>2021-11-05T20:27:00Z</td><td>2021-11-05T22:28:00Z</td>
              <td><div class="form-group">
                <select class="form-control marginonTop" id="selectiongroup1135">
                  <option>2 participants</option>
                  <option value="fbaekjfak">fbaekjfak</option>
                  <option value="Demoparticipant">Demoparticipant</option></select></div></td><td><a href="#/edit/135">Edit schedule</a></td><td><div class="clickable">Send notifications</div></td></tr></tbody></table><br></div></div>