<%- include('partials/header') %>
<div class="wrapper">
  <h1 class="ask-h1">Post <p>Your Art</p> </h1>
<form class="ask-form" action="/photos-upload" method="POST" role="form"
enctype="multipart/form-data">
  <div class="mb-3">
    <label for="askTitle" class="form-label"
      ><h4>Caption</h4>
      <p class="ask-p">Be specific and to the point</p>
    </label>
    <input
      type="text"
      class="form-control"
      id="askTitle"
      name="askTitle"
      autocomplete="off"
      placeholder="As Aesthitic as it goes"
      required
    />
  </div>
  <div class="mb-3">
    <label for="askBody" class="form-label"
      >
      <h4>Upload</h4>    
        <input type="file" 
        class="form-control-file" name="image" multiple>
        <br>
  </div>
  <div class="col-12 ask-submit">
    <button type="submit" class="btn btn-primary">Post My Art</button>
  </div>
</form>
</div>

 <%- include('partials/footer') %> 
